{% extends 'layout.html' %}

{% block title %}Projects{% endblock %}

{% block header %}
<header class="main pymd bg-blue-light bdb flex justify-center">
	<h1 class="wrapper768">Projects</h1>
</header>
{% endblock %}

{% block main %}
<main>
	<section class="flex-column align-center pysm">
		{% for p in blog.project %}
		<article class="wrapper768 pysm">
			<a class="col-4" href="#" target="_blank"><img src="{{MEDIA_URL}}{{p.image.url}}" alt=""></a>
			<section class="col-8">
				<a href="#" target="_blank"><h1 class="title">Video Playlist</h1></a>
				<p class="desc highlight">{{p.published_date}}</p>
				<p class="desc">In 2015, I founded Atomic Squirrel, a company that specialized in helping new startups get off the ground. In 2016, Atomic Squirrel merged with another company called Phoenix DevOps to become Gruntwork.</p>
			</section>
		</article>
		<div class="wrapper768 pymd">
			<hr class="line"><hr class="circle">
		</div>
		{% endfor %}
	</section>
</main>
{% endblock %}
